@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* gray-800 */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a5568; /* gray-600 */
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #718096; /* gray-500 */
}